.DS_Store
.externalNativeBuild
/.gradle
/.kotlin
/.idea/AndroidProjectSystem.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
/build
/local.properties
*.iml
