.DS_Store
.externalNativeBuild
/.gradle/
/.idea/AndroidProjectSystem.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/app.xml
/.idea/artifacts/
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/libraries/
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/other.xml
/.idea/runConfigurations.xml
/.idea/shelf/
/.idea/workspace.xml
/.kotlin/
/build/
/local.properties
*.iml
